.__nim_w {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.__nim_w img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: opacity 800ms ease 0ms;
  object-fit: cover;
}
.__nim_w.__nim_full {
  width: 100%;
  height: 100%;
}
.__nim_w .__nim_blur {
  filter: blur(25px);
  transform: scale(1.1);
  opacity: 1;
}

.__nim_w .__nim_org,
.__nim_w.visible .__nim_blur {
  opacity: 0;
}
.__nim_w.visible .__nim_org {
  opacity: 1;
}