.__nuxt-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.__nuxt-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: opacity 800ms ease 0ms;
}
.__nuxt-image-rel.full {
  width: 100%;
  height: 100%;
}
.__nuxt-image-rel.blur {
  filter: blur(25px);
  transform: scale(1.1);
  opacity: 1;
}

.__nuxt-image-abs,
.__nuxt-image.visible .__nuxt-image-rel.blur {
  opacity: 0;
}
.__nuxt-image.visible .__nuxt-image-abs {
  opacity: 1;
}