name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  dependency-review:
    uses: nuxt/.github/.github/workflows/dependency-review.yml@a4b868bc9378a43e7d927e3bb29295da7dca9b8a # main
    with:
      fail-on-provenance-change: true
